:root {
  font-family: 'Roboto', sans-serif;
  padding: auto;
  margin: auto;
  background-color: #121317;
  overflow: hidden;
}

.title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: auto;
  margin: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.title-split {
  color: rgb(255, 66, 66);
}

.sub-title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  padding: auto;
  margin: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1;
  color: #424855;
  font-size: 22px;
  letter-spacing: 0.1ch;
}

.sub-sub-title {
  font-family: 'Roboto', sans-serif;
  padding: auto;
  margin: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1;
  color: rgb(180, 180, 180);
  font-size: 22px;
  letter-spacing: 0.1ch;
}

.dummy-snippet-1-l {
  color: rgb(35, 38, 42);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  text-align: left;
}

.dummy-snippet-1-r {
  color: rgb(35, 38, 42);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  text-align: right;
}

.dummy-snippet-2 {
  color: rgb(35, 38, 42);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: auto;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-style: italic;
}

.dummy-snippet-3 {
  color: rgb(35, 38, 42);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: auto;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  font-style: italic;
}

ul {
  padding-left: 0; 
  text-align:center; 
  list-style-type:none;
}

li {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #424855;
  width: 20em;
  text-align: center;

}

li:hover {
  background-color: rgb(255, 66, 66);
}

ul.featured-list-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: italic;
}

/* Loader */
.content {
  display: none;
}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cube {
  margin: auto;
  font-size: 24px;
  height:  1em;
  width: 1em;
  position: relative;
  transform: rotateX(30deg) rotateY(45deg);
  transform-style: preserve-3d;
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}

.side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  color: rgb(255, 66, 66);
}

.side::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  transform: translateZ(0.5em);
  animation: cube-explode 1.5s infinite ease-in-out;
  opacity: 0.5;
}

.side:nth-child(1){transform: rotateY(90deg);}
.side:nth-child(2){transform: rotateY(180deg);}
.side:nth-child(3){transform: rotateY(270deg);}
.side:nth-child(4){transform: rotateY(360deg);}
.side:nth-child(5){transform: rotateX(90deg);}
.side:nth-child(6){transform: rotateX(270deg);}

@keyframes cube-spin {
  0%{transform: rotateX(30deg) rotateY(45deg);}
  100%{transform: rotateX(30deg) rotateY(405deg);}
}

@keyframes cube-explode {
  0%{transform: translateZ(0.5em);}
  50%{transform: translateZ(0.75em);}
  100%{transform: translateZ(0.5em);}
}
